body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between; /* Alinhamento dos itens nas extremidades */
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.main {
    flex: 1;
    max-width: 800px;
    margin: 20px auto;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
}

.erro {
    color: red;
    text-decoration: underline;
    font-size: small;
}

.dark-bg {
    background-color: #333;
    color: #fff;
}

.light-bg {
    background-color: #f7f7f7;
    color: #333;
}

.text {
    flex: 1;
    max-width: 60%;
    padding: 20px;
}

.dark-bg .text h2 {
    color: #fff;
}

.dark-bg .text p {
    color: #ddd;
}

.light-bg .text h2 {
    color: #333;
}

.light-bg .text p {
    color: #555;
}

.image {
    max-width: 100%; 
    margin-top: 20px;
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
}

span {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #555;
}

.content h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}
